body {
  height: 100vh;
  margin: 0;
  background: #111;
  background-size: cover;
  color: white;
  font-family: "poppins";
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

h3 {
  text-align: center;
  font-size: 1.3rem;
}

.content {
  width: 70%;
  margin: 0 auto;
  transition: transform 0.3s;
  text-align: center;
}

.feature {
  display: grid;
  height: 100vh;
  place-items: center;
  overflow: hidden;
  position: relative;
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.feature-img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0;
  height: 100%;
  transform: scale(1.5);
  transform-origin: top right;
  transition: transform 5s, opacity 0.3s;
}

a {
  background: white;
  color: black;
  text-decoration: none;
  padding: 0.3em 0.7em;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.7rem;
  opacity: 0;
  transition: opacity 0.3s;
}

.feature:hover a {
  opacity: 1;
}

.feature:hover .feature-img {
  opacity: 1;
  transform: scale(1) translateX(-25%);
}

.feature:hover .content {
  transform: scale(1.2);
}

@media (max-width: 750px) {
  .container {
    grid-template-columns: repeat(2, 1fr);
  }
  .feature {
    height: 50vh;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  .feature-img {
    transform: scale(2);
	transform-origin: top;
  }
  .feature:hover .feature-img {
    transform: translateX(-10%);
  }
}

@media (max-width: 500px) {
  .container {
    grid-template-columns: 1fr;
  }
  .feature {
    height: 60vh;
    border-right: 0px solid rgba(255, 255, 255, 0.2);
  }
  .feature-img {
    transform: scale(2.5);
  }
  .feature:hover .feature-img {
    transform: translateX(0);
  }
}
